#hero{
  min-height: 100%;
  position: relative;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
}

p{
  color: white;
}
.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}
*{
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p{
  color: white;
}
header{
display: inline-flex;
background: #589DFE;
width: 100vw;
height: 10vh
}
.icono{
width: 60px;
height: 60px;
position: relative;
z-index: 2;
}
.uno{
width: 25vw;
height: 10vh;
position: relative;
z-index: 2;
}
.dos{
    font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
width: 30vw;
height: 9.4vh;
flex-grow: 3;
border: solid;
border-radius: 30px;
position: relative;
z-index: 2;
}
.tres{
width: 25vw;
height: 10vh;
background: #FAC3FF;


}
.A{
  background-color: rgb(24, 255, 159);
  width: 100vw;
  height: 80vh;


}
.un{
  width: 40vw;
  height: 20vh;
  position: relative;
  z-index: 2;

}
.do{
  width: 40vw;
  height: 20vh;
  position: relative;
  z-index: 2;

}
.te{
  width: 40vw;
  height: 20vh;
  position: relative;
  z-index: 2;
}
.cu{
  width: 40vw;
  height: 20vh;
  position: relative;
  z-index: 2;
}
.nom{
  width: 100vw;
  height: 10vh;
  background-color: rgb(1, 1, 243);
  position: relative;
  z-index: 2;
}
h1{
  color: white;
}
a{
  color: white;
}
@media (max-width: 768px) {
  header{
  display: inline-flex;
  background: #589DFE;
  width: 100vw;
  height: 10vh
  }
  .icono{
  width: 60px;
  height: 60px;
  }
  .uno{
  width: 25vw;
  height: 10vh;
  }
  .dos{
      font-weight: bold;
  display: flex;
  justify-content: center;
  background: #FAC3FF;
  width: 200px;
  height: 50px;
  flex-grow: 3;
  border: solid;
  border-radius: 30px
  }
  .tres{
  width: 25vw;
  height: 10vh;
  }
  .A{
    background-color: rgb(24, 255, 159);
    width: 100vw;
    height: 80vh;
  }
  .un{
    margin-top: 10px;
    width: 500px;
    height: 100px;
  }
  .do{
    margin-top: 10px;
    width: 500px;
    height: 100px;
  }
  .te{
    margin-top: 10px;
    width: 500px;
    height: 100px;
  }
  .cu{
    margin-top: 10px;
    width: 500px;
    height: 100px;
  }
  .nom{
    margin-top: 10px;
    width: 500px;
    height: 100px;
  }
}
@media(max-width: 480px) {
  header{
  display: inline-flex;
  background: #589DFE;
  width: 100vw;
  height: 10vh
  }
  .icono{
  width: 60px;
  height: 60px;
  }
  .uno{
  width: 25vw;
  height: 10vh;
  }
  .dos{
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
  align-items: center;
  display: flex;
  background: #FAC3FF;
  width: 250px;
  height: 50px;
  flex-grow: 3;
  border: solid;
  border-radius: 10px
  }
  p{
    white: 2px;
    height: 5px;
  }
  .tres{
  width: 25vw;
  height: 10vh;
  }
  .A{
    background-color: rgb(24, 255, 159);
    width: 100vw;
    height: 80vh;
  }
  .un{

    width: 400px;
    height: 100px;
  }
  .do{
    margin-top: 10px;
    width: 400px;
    height: 100px;
  }
  .te{
    margin-top: 10px;
    width: 400px;
    height: 100px;
  }
  .cu{
    margin-top: 10px;
    width: 400px;
    height: 100px;
  }
  .nom{
    margin-top: 10px;
    width: 400px;
    height: 100px;
  }

}
